body {
  font-family: sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Left Menu */

aside a {
  color: #369;
}
.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 240px;
  margin: 20px auto;
  padding: 10px;
}
#drop-area.highlight {
  border-color: purple;
}
#drag-text {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

/* Main part */

main {
  border-left: 2px solid #ccc;
  height: 95vh;
  margin-left: 10px;
  padding: 10px;
}
