body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Left Menu */

aside a {
  color: #369;
}
.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 240px;
  margin: 20px auto;
  padding: 1rem;
}
#drop-area.highlight {
  border-color: purple;
}
#drag-text {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

/* File | Data Set List */

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin: 0%;
  background-color: #fff;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  /* border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; */
  border-radius: 0.25rem;
}

ul {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.float-right {
  float: right !important;
}

/* Main part */

main {
  border-left: 2px solid #ccc;
  height: 95vh;
  margin-left: 10px;
  padding: 10px;
}
