:root {
  --primary-color: dodgerblue;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #04aa6d;
  --error-color: #f44336;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header div {
  margin: 0 !important;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

#progress-button {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 10px;
}

.quiz-card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(30, 144, 255, 0.6);
  padding: 20px;
  margin: 10px;
}

.quiz-success {
  background-color: rgba(4, 170, 109, 0.1);
  color: #333;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(4, 170, 109, 0.8);
  /* border: 3px solid rgba(4, 170, 109, 0.4); */
  padding: 20px;
  margin: 10px;
  transition: background-color 0.5s ease;
}

.quiz-failure {
  /* background-color: #fff; */
  background-color: rgba(244, 67, 54, 0.1);
  color: #333;

  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(244, 67, 54, 0.8);
  padding: 20px;
  margin: 10px;
  transition: background-color 0.5s ease;
}

/* Navbar Styles */

.navbar {
  background-color: #fff;
  color: var(--primary-color);
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--primary-color);
  padding: 0;
  margin: 0 15px;
}

.navbar a:hover,
.navbar a:focus {
  /* text-decoration: none; */
  outline: none;
  border-bottom: 2px solid var(--primary-color);
}

.navbar .flex {
  justify-content: flex-start;
  align-items: center;
}

/* Left Menu */

aside a {
  color: #369;
}
.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 240px;
  margin: 20px auto;
  padding: 1rem;
}
#drop-area.highlight {
  border-color: purple;
}
#drag-text {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

aside label {
  margin: auto;
  display: inline-block;
  padding: 10px;
}

#fileElem {
  display: none;
}

/* File | Data Set List */

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin: 0%;
  background-color: #fff;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  /* border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; */
  border-radius: 0.25rem;
}

ul {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.float-right {
  float: right !important;
}

/* #file-list-view,
#data-set-list-view {
  text-align: center;
  margin-bottom: 10px;
} */

#file-list-view h3,
#data-set-list-view h3 {
  text-align: center;
  margin-bottom: 10px;
  visibility: hidden;
}

/* Main part */

main {
  border-left: 2px solid #ccc;
  height: 80vh;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
}

main h1 {
  margin: 20px auto;
  text-align: center;
}

.buttons-div {
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

#study {
  display: flex;
  justify-content: center;
  align-items: center;
}

question {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-weight: bolder;
}

answer {
  margin: 10px;
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Buttons */
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Green */
.success {
  border-color: #04aa6d;
  color: green;
}

.success:hover {
  background-color: #04aa6d;
  color: white;
}

/* Blue */
.info {
  border-color: #2196f3;
  color: dodgerblue;
}

.info:hover {
  background: #2196f3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red;
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.icon-btn {
  /* border: 2px solid black; */
  border: none;
  background-color: white;
  color: var(--primary-color);
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.icon-btn :hover,
.icon-btn :focus {
  font-size: 5rem;
}

@keyframes failure {
  0% {
    background: rgba(244, 67, 54, 1);
  }
  10% {
    background: rgba(244, 67, 54, 0.9);
  }
  20% {
    background: rgba(244, 67, 54, 0.8);
  }
  30% {
    background: rgba(244, 67, 54, 0.7);
  }
  40% {
    background: rgba(244, 67, 54, 0.6);
  }
  50% {
    background: rgba(244, 67, 54, 0.5);
  }
  60% {
    background: rgba(244, 67, 54, 0.4);
  }
  70% {
    background: rgba(244, 67, 54, 0.3);
  }
  80% {
    background: rgba(244, 67, 54, 0.2);
  }
  90% {
    background: rgba(244, 67, 54, 0.1);
  }

  /* 25% {
    background: rgba(244, 67, 54, 0.5);
  }
  50% {
    background: rgba(244, 67, 54, 0.3);
  } */
  100% {
    background: rgb(255, 255, 255);
  }
}

/* ToggleButton */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
